<?xml version="1.0" encoding="UTF-8"?><project-modules id="moduleCoreId" project-version="1.5.0">
    	
    <wb-module deploy-name="AnhTraiXuNau">
        		
        <property name="context-root" value="AnhTraiXuNau"/>
        		
        <wb-resource deploy-path="/WEB-INF/classes" source-path="src/main/resources"/>
        		
        <wb-resource deploy-path="/WEB-INF/classes" source-path="src/main/java"/>
        		
        <wb-resource deploy-path="/" source-path="src/main/webapp"/>
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/"/>
        		
        <dependent-module deploy-path="/WEB-INF/lib" handle="module:/resource/AnhTraiXuNauService/AnhTraiXuNauService">
            			
            <dependency-type>uses</dependency-type>
            		
        </dependent-module>
        		
        <dependent-module deploy-path="/WEB-INF/lib" handle="module:/resource/AnhTraiXuNauRepository/AnhTraiXuNauRepository">
            			
            <dependency-type>uses</dependency-type>
            		
        </dependent-module>
        		
        <dependent-module deploy-path="/WEB-INF/lib" handle="module:/resource/AnhTraiXuNauModel/AnhTraiXuNauModel">
            			
            <dependency-type>uses</dependency-type>
            		
        </dependent-module>
        	
    </wb-module>
    
</project-modules>
